table.calendar {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	border-collapse: collapse;
	background-color: white;
	border: solid #999999 1px;
	background-color: white;
	width: 200px;
	text-align: center;
	z-index:10000;
	position:absolute;
	/*prevent user from selecting text in Mozilla & Safari - check calendar constructor for IE code)*/
	-moz-user-select: none;
    /*-khtml-user-select: none;*/
}
table.calendar input, table.calendar select {
	font-size: 10px;
	z-index:20000;
}
table.calendar td {
	border: 0;
	font-size: 8px;
	text-align: center;
	z-index:20000;
}
div.mainheading {
	margin: 2px;
}
table.caldayheading {
	border-collapse: collapse;
	cursor: pointer;
	empty-cells: show;
	margin: 0 6px 0 6px;
	z-index:20000;
}
table.caldayheading td {
	border: solid #CCCCCC 1px;
	text-align: left;
	color: #0054E3;
	font-weight: bold;
	width: 22px; /*should match calendar cell's width*/
	z-index:20000;
}
table.caldayheading td.wkhead {
	border-right: double #CCCCCC 3px;
}
table.calcells {
	border-collapse: collapse;
	cursor: pointer;
	margin: 0 6px 0 6px;
	z-index:20000;
}
table.calcells td {
	border: solid #CCCCCC 1px;
	vertical-align: top;
	text-align: left;
	font-weight: bold;
	width: 22px;
	height: 20px; /*IE doesn't like ems*/
	z-index:20000;
}
table.calcells td div {
	padding: 1px;
	margin: 0;
	z-index:20000;
}
table.calcells td.wkhead {
	background-color: white;
	text-align: center;
	border-right: double #CCCCCC 3px;
	color: #0054E3;
	z-index:20000;
}
table.calcells td.wkday {
	background-color: #DDDDDD;
	z-index:20000;
}
table.calcells td.wkend {
	background-color: #DDDDDD;
	z-index:20000;
}
table.calcells td.curdate {

}
table.calcells td.cell_selected 
{
	z-index:20000;
	background-color: #99CCFF;
	color: black;
}
table.calcells td.notmnth {
	background-color: #FFFFFF;
	color: #CCCCCC;
	z-index:20000;
}
table.calcells td.notallowed {
	background-color: white;
	color: #EEEEEE;
	font-style: italic;
	z-index:20000;
}
table.calcells td.hover {
	background-color: #999999;
	z-index:20000;
}
